@import url('https://fonts.googleapis.com/css?family=Calligraffitti');

body,
html{
    margin: 0;
    padding: 0;
    font-family: 'Calligraffitti', cursive;
}
.kalendarz{
    height: 1587px;
    width: 1123px;
    margin: 0px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}


.header {
    height: 15%;
    display: flex;
    flex-direction: column;
}

.tytul{
    height: 45%;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border: 1px solid black;
}

.tytul img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 758px;
}

.dni_tyg {
    display: flex;
    margin-left: 5%;
    height: 20%;
    width: 95%;
}

.dni_tyg div {
    border: 1px solid black;
    width: calc(100% / 7);
    text-align: center;
    line-height: 38px;
    font-size: 22px;
}

.osoba {
    display: flex;
    margin-left: 5%;
    height: 40%;
    width: 95%;
   
}

.osoba div {
    border: 1px solid black;
    width: calc(100% / 7);
    text-align: center;
    height: 100%;
    line-height: 200%;
    background: url('./images/icon_names.png') no-repeat center center;
    background-size: 90%;
    text-indent: -9999px;
}

.zegar,
.silownia,
.jedzenie,
.nauka {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: calc(100% / 4);
    
}

.zegar .czynnosci{
    background: url('./images/icon_clock.png') no-repeat center center;
    background-size: 40px;
    text-indent: -9999px;
}
.silownia .czynnosci{
    background: url('./images/icon_muscle.png') no-repeat center center;
    background-size: 40px;
    text-indent: -9999px;
}
.jedzenie .czynnosci{
    background: url('./images/icon_meat.png') no-repeat center center;
    background-size: 40px;
    text-indent: -9999px;
}
.nauka .czynnosci{
    background: url('./images/icon_learn.png') no-repeat center center;
    background-size: 40px;
    text-indent: -9999px;
}


.zegar {
  border-top: 1px solid black;
}

.komorki {
  display: flex;
  width: 95%;
}

.komorka {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: calc(100% / 14);
}

.czynnosci {
  display: flex;
  width: 5%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  
}
.legenda {
    height: 5%;
    background: url('./images/image_of_legend.png') no-repeat center center;
    background-size: 70% 100%;
    text-indent: -9999px;
}
.tytul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tydzien {
    height: calc( (100% - 15% - 5%) / 5);
    border-bottom: 3px solid;
    position: relative;
}
.dni-tygodnia-numery-wrapper{
    position: absolute;
    top: 0;
    z-index: 2;
    left: 5%;
    width: 95%;
}
.dni-tygodnia-numery-wrapper > div{
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 22px;
    padding-top: 3px;
    padding-left: 3px;
}


/* CSS hack - use background image on print :: only chrome and safari  */
@media print
{
    * {-webkit-print-color-adjust:exact;}
}